.genres{
	text-transform: capitalize;
	border:1px solid #e2e2e2;
	border-radius:10px;
	margin: 0 0.3%;
	padding: 0 1%;
}
.info{		
	font-size: 0.8em;
}
.rating-text{
	display:inline-block;
}
.rating-fill{
	width:50%;
	border:1px solid #111;
	border-radius:10px;
	display:inline-block;
	margin: 0 2%;
}
.rating-fill > div {
	height:100%;
	background-color:orange;
	border-radius:10px;
}
.description,.info{
	padding:0 3%;
}
.description{
	padding:3% 3%;
}
.go-back{	
	font-size: 0.8em;
	cursor:pointer;
}
a {
	text-decoration:none;
	color:black;
}