.genres{	
	text-transform: capitalize;
}
.genres:after{
	content:',';
}
.genres:last-child:after{
	content:'';
}
a {
	text-decoration:none;
	color:black;
}
.list-item{
	position:relative;		
	text-align: center;
}
.tool-tip{
	position:absolute;
	width:75%;
	left:56%;
	top:50%;
	transform:translate(-50%,-50%);
	background: rgba(0,0,0,0.5);
	color: white;
	font-size:0.8em;
	padding:0 1%;
	display:none;
}
.list-item:hover .tool-tip{
	display:block;
}